{{#smd-page}}

  {{smd-page-header title="Badges"}}

  {{#smd-page-body}}

    <h2 class="smd-page__subtitle">Default Badge</h2>

    <div class="sg-flex-row">
      {{smd-badge text="Inbox" badge=4}}
    </div>

    {{code-snippet name="smd-badge.hbs"}}

    <h2 class="smd-page__subtitle">Badge with no Background</h2>

    <div class="sg-flex-row">
      {{smd-badge text="Unread" badge=42 noBadgeBackground=true}}
    </div>

    {{code-snippet name="smd-badge-no-bg.hbs"}}

    <h2 class="smd-page__subtitle">Overlapping Badge</h2>

    <div class="sg-flex-row">
      {{smd-badge text="ToDo" badge=2 badgeOverlap=true}}
    </div>

    {{code-snippet name="smd-badge-overlap.hbs"}}

  {{/smd-page-body}}

  {{smd-page-header title="Attributes"}}

  {{#smd-page-body}}
  
    <table class="sg-table sg-table--attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>textarea</td>
          <td>The badges label text</td>
          <td><em>string</em></td>
          <td>null</td>
        </tr>
        <tr>
          <td>badge</td>
          <td>Assigns string value to badge</td>
          <td><em>string</em></td>
          <td>null</td>
        </tr>
        <tr>
          <td>noBadgeBackground</td>
          <td>Applies open-circle effect to badge</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>badgeOverlap</td>
          <td>Make the badge overlap with its container</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
      </tbody>
    </table>

  {{/smd-page-body}}

  {{#smd-page-footer}}
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  {{/smd-page-footer}}

{{/smd-page}}
