<div class="smd-page">
  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Default Tab Theme</h1>
  </header>

  <section class="smd-page__body">
    {{#smd-tabs}}
      {{smd-tab "Examples" "tabs.index"}}
      {{smd-tab "Animation" "tabs.two"}}
      {{smd-tab "Tab Component" "tabs.three"}}
      {{smd-tab "Attributes" "tabs.four"}}
   {{/smd-tabs}}

   {{code-snippet name="smd-tabs.hbs"}}

  </section>

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Primary Tab Theme</h1>
  </header>

  <section class="smd-page__body">
    {{#smd-tabs theme="primary" align="left"}}
      {{smd-tab "Examples" "tabs.index"}}
      {{smd-tab "Animation" "tabs.two"}}
      {{smd-tab "Tab Component" "tabs.three"}}
      {{smd-tab "Attributes" "tabs.four"}}
   {{/smd-tabs}}

   {{code-snippet name="smd-tabs-primary.hbs"}}

  </section>

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Accent Tab Theme</h1>
  </header>

  <section class="smd-page__body">
    {{#smd-tabs theme="accent" align="right"}}
      {{smd-tab "Examples" "tabs.index" }}
      {{smd-tab "Animation" "tabs.two"}}
      {{smd-tab "Tab Component" "tabs.three"}}
      {{smd-tab "Attributes" "tabs.four"}}
   {{/smd-tabs}}

   {{code-snippet name="smd-tabs-accent.hbs"}}
  </section>
</div>
