// BEGIN-SNIPPET smd-item
{{smd-item
  title="Item Title"
  meta="Elit commodo turpis volutpat risus"
  avatarSrc="http://i.pravatar.cc/80?r=1"
  actionIcon="info_circle"
  isBordered=true
}}
// END-SNIPPET

// BEGIN-SNIPPET smd-item-inverted
{{smd-item
  title="Item Title"
  meta="Elit commodo turpis volutpat risus"
  avatarSrc="http://i.pravatar.cc/80?r=2"
  actionIcon="star"
  isInverted=true
}}
// END-SNIPPET

// BEGIN-SNIPPET smd-item-subtitle
{{smd-item
  title="Item Title"
  subTitle="Subtitle"
  meta="Elit commodo turpis volutpat risus"
  avatarText=8
  actionIcon="info_circle"
}}
// END-SNIPPET

// BEGIN-SNIPPET smd-item-lines
{{smd-item
  title="Item Title"
  meta="Ut lorem condimentum eu praesent..."
  avatarIcon="person"
  actionIcon="info_circle"
  isThreeLines=true
}}
// END-SNIPPET

// BEGIN-SNIPPET smd-item-custom
{{#smd-item avatarSrc="http://i.pravatar.cc/80?r=4" actionIcon="keyboard_arrow_right"}}
  <h1 class="smd-item__title">Brunch this weekend?</h1>
  <p class="smd-item__meta"><strong>Ali Connors</strong> - I"ll be in your neighborhood parturient in elit commodo turpis volutpat risus montes arcu rutrum turpis malesuada ac consectetur quam a.</p>
{{/smd-item}}
{{#smd-item avatarSrc="http://i.pravatar.cc/80r=5" actionIcon="keyboard_arrow_right"}}
  <h1 class="smd-item__title">What time today?</h1>
  <p class="smd-item__meta"><strong>Jane Smith</strong> - Elit commodo turpis volutpat risus montes arcu rutrum turpis malesuada ac consectetur quam a.</p>
{{/smd-item}}
// END-SNIPPET

// BEGIN-SNIPPET smd-empty
  {{smd-empty text="No things were found"}}
// END-SNIPPET
