{{#if hasCoverImageSrc}}
  <div class="smd-header__cover-image" style="background-image: {{coverImageSrc}}"></div>
{{/if}}

{{#if hasCoverImageClass}}
  <div class="smd-header__cover-image {{coverImageClass}}"></div>
{{/if}}

<div class="smd-header__toolbar smd-header__toolbar--top">

  {{#if hasBack}}
    {{mdl-button icon=backIcon isColored=false class="smd-header__action" action='backAction'}}
  {{/if}}

  <div class="spacer"></div>

  {{#if hasToolbarOne}}
    {{mdl-button icon=toolbarIconOne isColored=false class="smd__header__action" action='toolbarActionOne'}}
  {{/if}}

  {{#if hasToolbarTwo}}
    {{mdl-button icon=toolbarIconTwo isColored=false class="smd__header__action" action='toolbarActionTwo'}}
  {{/if}}

  {{#if hasSearch}}
    {{smd-search-widget action='searchAction' term=searchTerm}}
  {{/if}}

  {{#if hasToolbarThree}}
    {{mdl-button icon=toolbarIconThree isColored=false class="smd__header__action" action='toolbarActionThree'}}
  {{/if}}

  {{#if hasMenu}}
    {{mdl-button icon='menu' isColored=false class="smd__header__action" action='menuAction'}}
  {{/if}}

</div>

<div class="smd-header__toolbar smd-header__toolbar--middle"></div>

<div class="smd-header__toolbar smd-header__toolbar--bottom">
  <h1 class="smd-header__title">{{title}}</h1>
  {{yield}}
</div>

{{#if hasFab}}
  {{mdl-button icon=fabIcon isMiniFab=isMiniFab isFloating=true action='fabAction' class=fabClassNames}}
{{/if}}
