{{#if hasText}}
  <span class="{{textClasses}}">{{avatarText}}</span>
{{/if}}
{{#if hasImage}}
  <img class="{{imageClasses}}" src="{{avatarSrc}}" alt="Avatar" />
{{/if}}
{{#if hasIcon}}
  <i class="{{iconClasses}}">{{avatarIcon}}</i>
{{/if}}
