{{#if isTextarea}}
  {{textarea
    class=inputClasses
    name=name
    value=value
    type=type
    rows=rows
    cols=cols
    disabled=disabled}}
{{else if isSwitch}}
  {{mdl-switch text='Switch' value=value disabled=disabled}}
{{else if isCheckbox}}
  {{mdl-checkbox text='Checkbox' value=value disabled=disabled}}
{{else if isIcon}}
  {{mdl-icon-toggle icon=icon value=value disabled=disabled}}
{{else if isRadio}}
  {{#each computedOptions as |option|}}
    {{mdl-radio
      name=name
      text=option.label
      value=option.value
      disabled=disabled
      on-change=(action 'checkOption')
      checked=option.checked}}
  {{/each}}
{{else if isSelect}}
  {{#select-box/native
    value=value
    disabled=disabled
    on-select=(action 'selectedOption')
    class=inputClasses as |sb|}}
    {{#each options as |option|}}
      {{sb.option value=option label=option.label}}
    {{/each}}
  {{/select-box/native}}
{{else}}
  {{input
    class=inputClasses
    name=name
    value=value
    type=type
    max=max
    min=min
    step=step
    disabled=disabled}}
{{/if}}

{{#if hasLabel}}
  <label class="{{labelClasses}}" for="{{name}}">{{label}}</label>
{{/if}}

{{#if showErrorMessage}}
  <div class="smd-form__error">{{v-get model name 'message'}}</div>
{{/if}}

{{#if showWarningMessage}}
  <div class="smd-form__warning">{{v-get model name 'warningMessage'}}</div>
{{/if}}

{{#if showTip}}
  <div class="smd-form__tip">{{tip}}</div>
{{/if}}

{{yield}}
