{{#if isTextarea}}
  {{textarea
    class=inputClasses
    name=name
    value=value
    type=type
    rows=rows
    cols=cols}}
{{else if isSwitch}}
  {{mdl-switch text='Switch' value=value}}
{{else if isCheckbox}}
  {{mdl-checkbox text='Checkbox' value=value}}
{{else if isIcon}}
  {{mdl-icon-toggle icon=icon value=value}}
{{else if isRadio}}
  {{#each options as |option|}}
    {{mdl-radio text=option.label value=option.value}}
  {{/each}}
{{else if isSelect}}
  {{#select-box/native class=inputClasses as |sb|}}
    {{#each options as |option|}}
      {{sb.option value=option.value label=option.label}}
    {{/each}}
  {{/select-box/native}}
{{else}}
  {{input
    class=inputClasses
    name=name
    value=value
    type=type
    max=max
    min=min
    step=step}}
{{/if}}

{{#if hasLabel}}
  <label class="{{labelClasses}}" for="{{name}}">{{label}}</label>
{{/if}}

{{#if showErrorMessage}}
  <div class="smd-form__error">{{v-get model name 'message'}}</div>
{{/if}}

{{#if showWarningMessage}}
  <div class="smd-form__warning">{{v-get model name 'warningMessage'}}</div>
{{/if}}

{{#if showTip}}
  <div class="smd-form__tip">{{tip}}</div>
{{/if}}

{{yield}}
