{{#if hasText}}
  {{#smd-button id=buttonId disabled=disabled}}{{text}}{{/smd-button}}
{{else if hasIcon}}
  {{smd-button icon=icon id=buttonId disabled=disabled}}
{{/if}}
<div class='mdl-menu mdl-js-menu mdl-js-ripple-effect {{alignClass}}' for={{buttonId}}>
  {{yield}}
</div>
