{{#if hasCoverImageSrc}}
  <div class="smd-header__cover-image" style="background-image: {{coverImageSrc}}"></div>
{{/if}}

{{#if hasCoverImageClass}}
  <div class="smd-header__cover-image {{coverImageClass}}"></div>
{{/if}}

<div class="smd-header__toolbar smd-header__toolbar--top">

  {{#if hasBack}}
    {{smd-button icon=_backIcon isColored=false class="smd-header__action smd-header__action--back-max" action='backAction'}}
  {{/if}}

  {{#if hasCrumb}}
    <div class="smd-header__crumb" {{action 'backAction'}}>
      {{_crumb}}
    </div>
  {{/if}}

  <div class="spacer"></div>

  {{#if hasToolbarOne}}
    {{smd-button icon=_toolbarIconOne isColored=false class="smd-header__action" action='toolbarActionOne'}}
  {{/if}}

  {{#if hasToolbarTwo}}
    {{smd-button icon=_toolbarIconTwo isColored=false class="smd-header__action" action='toolbarActionTwo'}}
  {{/if}}

  {{#if hasSearch}}
    {{smd-search-widget action='searchAction' term=searchTerm}}
  {{/if}}

  {{#if hasToolbarThree}}
    {{smd-button icon=_toolbarIconThree isColored=false class="smd-header__action" action='toolbarActionThree'}}
  {{/if}}

</div>

<div class="smd-header__toolbar smd-header__toolbar--middle"></div>

<div class="smd-header__toolbar smd-header__toolbar--bottom">
  {{#if hasBack}}
    {{smd-button icon=_backIcon isColored=false class="smd-header__action smd-header__action--back-min" action='backAction'}}
  {{/if}}
  {{#if hasTitle}}
    <h1 class="smd-header__title">{{_title}}</h1>
  {{/if}}
  {{yield}}
</div>

{{#if hasFab}}
  {{smd-button icon=_fabIcon isFab=true isColored=true isMiniFab=_isMiniFab isFloating=true action='fabAction' class=fabClassNames}}
{{/if}}
