<header class='styleguide__header'>
  <h1 class='styleguide__title'>Forms: Icon Control</h1>
  <p class='styleguide__text'>Beautiful Material Design form components</p>
</header>

<div class='styleguide__section'>
  <h2 class='styleguide__subtitle'>Basic Icon input (off)</h2>
  <p class="styleguide__text">Binding to a model value with a tip.</p>
</div>

<pre class='styleguide__code'>
  <code class='js'>

&#123;{smd-form-control
  type='icon'
  name='Admin'
  model=model
  value=model.admin
  label='Is Admin'
  icon='lock'
  tip='Provide administrator rights to a user'}&#125;</code>
</pre>

<div class='styleguide__preview'>
  {{smd-form-control type='icon' name='admin' model=model value=model.admin label='Is Admin' icon='lock' tip='Provide administrator rights to a user'}}
  <p>Selected Value = {{model.admin}}</p>
</div>


<div class='styleguide__section'>
  <h2 class='styleguide__subtitle'>Basic Icon input (on)</h2>
  <p class="styleguide__text">Binding to a model value with an on state.</p>
</div>

<pre class='styleguide__code'>
  <code class='js'>

&#123;{smd-form-control
  type='icon'
  name='mailingList'
  model=model
  value=model.mailingList
  label='Subscribed to mailing list'
  icon='mail_outline'}&#125;</code>
</pre>

<div class='styleguide__preview'>
  {{smd-form-control type='icon' name='mailingList' model=model value=model.mailingList label='Subscribed to mailing list' icon='mail_outline'}}
  <p>Selected Value = {{model.mailingList}}</p>
</div>

<div class='styleguide__section'>
  <h2 class='styleguide__subtitle'>Naked Icon input</h2>
  <p class="styleguide__text">A switch input with no label</p>
</div>

<pre class='styleguide__code'>
  <code class='js'>

&#123;{smd-form-control
  type='icon'
  name='mailingList'
  model=model
  value=model.mailingList}&#125;</code>
</pre>

<div class='styleguide__preview'>
  {{smd-form-control type='icon' name='mailingList' model=model value=model.mailingList}}
  <p>Selected Value = {{model.mailingList}}</p>
</div>

<div class='styleguide__section'>

  <h1 class='styleguide__title'>Form Control Attributes</h1>

  <table class='styleguide__table mdl-data-table mdl-js-data-table'>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>model</td>
        <td>Defines the model to update</td>
        <td><em>object</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>name</td>
        <td>Name of the models attribute to bind the control to</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>value</td>
        <td>Inital value of the control</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>type</td>
        <td>The controls input type</td>
        <td><em>string</em></td>
        <td>text</td>
      </tr>
      <tr>
        <td>label</td>
        <td>The controls label</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>tip</td>
        <td>A string to define help text for the control</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>nullOption</td>
        <td>The text of an initial blank option in a select input</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>options</td>
        <td>An array of options. Can be either an array of Strings or Objects with label and value attributes defined.</td>
        <td><em>array</em></td>
        <td>[]</td>
      </tr>
      <tr>
        <td>modelOptions</td>
        <td>An array of Ember models to use as the select options. Use in conjunction with the <i>modelLabel</i> attribute.</td>
        <td><em>array</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>modelLabel</td>
        <td>Spefifies the model attribute to use to get the option labels</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
    </tbody>
  </table>
</div>
