{{smd-header
  title="Animations"
  backIcon="arrow_back"
  backAction="back"
  scrolling=true
}}
{{#smd-page}}

  {{smd-page-header title="Tab Transitions"}}

  {{#smd-page-body}}

    <p>SMD contains a helper function to create ember liquid fire transitions for tabbed routes.</p>

    <p>
      Import the utils at the top of your ember liqud fire transition.js file.
    </p>

    {{code-snippet name="smd-transitions-tab-import.js"}}

    <p>Pass in an ordered list of route names and it will generate the relevant transitions to animate left/right between routes.</p>

    {{code-snippet name="smd-transitions-tab.js"}}

    <p>This is a quick way of generating the following transitions</p>

    {{code-snippet name="smd-transitions-tab-manual.js"}}

  {{/smd-page-body}}

{{/smd-page}}
