<header class="styleguide__header">
  <h1 class="styleguide__title">Dropdown Menu</h1>
  <p class="styleguide__text">Simple dropdown menus</p>
</header>

<header class="styleguide__header">
  <h1 class="styleguide__subtitle">Basic Dropdown</h1>
  <p class="styleguide__text">Basic text dropdown menu</p>
</header>

<pre class="styleguide__code">
  <code class="js">
    &#123;{#smd-dropdown text='Text Menu'}&#125;
      &#123;{#smd-dropdown-item}&#125;Item 1&#123;{/smd-dropdown-item}&#125;
      &#123;{#smd-dropdown-item}&#125;Item 2&#123;{/smd-dropdown-item}&#125;
      &#123;{#smd-dropdown-item}&#125;Item 3&#123;{/smd-dropdown-item}&#125;
    &#123;{/smd-dropdown}&#125;
  </code>
</pre>

<div class="styleguide__preview">
  {{#smd-dropdown text='Text Menu'}}
    {{#smd-dropdown-item}}Item 1{{/smd-dropdown-item}}
    {{#smd-dropdown-item}}Item 2{{/smd-dropdown-item}}
    {{#smd-dropdown-item}}Item 3{{/smd-dropdown-item}}
  {{/smd-dropdown}}
</div>

<header class="styleguide__header">
  <h1 class="styleguide__subtitle">Icon Dropdown</h1>
  <p class="styleguide__text">Basic text dropdown menu with an icon button and item states</p>
</header>

<pre class="styleguide__code">
  <code class="js">
    &#123;{#smd-dropdown icon='more_vert' action='menuItemClicked'}&#125;
      &#123;{smd-dropdown-item text='Item 4' action='menuItemClicked'}&#125;
      &#123;{smd-dropdown-item text='Item 5' action='menuItemClicked'}&#125;
      &#123;{smd-dropdown-item divider=true text='Item 6' action='menuItemClicked'}&#125;
      &#123;{smd-dropdown-item disabled=true text='Item 7' action='menuItemClicked'}&#125;
      &#123;{smd-dropdown-item text='Item 8' action='menuItemClicked'}&#125;
    &#123;{/smd-dropdown}&#125;
  </code>
</pre>

<div class="styleguide__preview">
  {{#smd-dropdown icon='more_vert'}}
    {{smd-dropdown-item text='Item 4' action='menuItemClicked'}}
    {{smd-dropdown-item text='Item 5' action='menuItemClicked'}}
    {{smd-dropdown-item divider=true text='Item 6' action='menuItemClicked'}}
    {{smd-dropdown-item disabled=true text='Item 7' action='menuItemClicked'}}
    {{smd-dropdown-item text='Item 8' action='menuItemClicked'}}
  {{/smd-dropdown}}
</div>

<header class="styleguide__header">
  <h1 class="styleguide__subtitle">Custom Dropdown Items</h1>
  <p class="styleguide__text">Dropdown menu with icon items</p>
</header>

<pre class="styleguide__code">
  <code class="js">
    &#123;{#smd-dropdown text='Text Icon Menu'}&#125;
      &#123;{#smd-dropdown-item icon='desktop_mac'}&#125;Desktop&#123;{/smd-dropdown-item}&#125;
      &#123;{#smd-dropdown-item icon='laptop_mac'}&#125;Laptop&#123;{/smd-dropdown-item}&#125;
      &#123;{#smd-dropdown-item icon='phone_iphone'}&#125;Phone&#123;{/smd-dropdown-item}&#125;
    &#123;{/smd-dropdown}&#125;
  </code>
</pre>

<div class="styleguide__preview">
  {{#smd-dropdown text='Text Icon Menu'}}
    {{#smd-dropdown-item icon='desktop_mac'}}Desktop{{/smd-dropdown-item}}
    {{#smd-dropdown-item icon='laptop_mac'}}Laptop{{/smd-dropdown-item}}
    {{#smd-dropdown-item icon='phone_iphone'}}Phone{{/smd-dropdown-item}}
  {{/smd-dropdown}}
</div>

<div class="styleguide__section">

  <h1 class="styleguide__title">Dropdown Attributes</h1>

  <table class="styleguide__table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>text</td>
        <td>Defines the menu button text</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the menu button</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
        <tr>
          <td>align</td>
          <td>Defines the menu position. One of; <em>bottom-left</em>, <em>bottom-right</em>, <em>top-left</em>, <em>top-right</em></td>
          <td><em>string</em></td>
          <td>null</td>
        </tr>
    </tbody>
  </table>
</div>

<div class="styleguide__section">
  <h1 class="styleguide__title">Dropdown Item Attributes</h1>

  <table class="styleguide__table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>text</td>
        <td>Defines the menu item text</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the menu item</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Set to true to disable the menu item</td>
        <td><em>boolean</em></td>
        <td>false</td>
      </tr>
      <tr>
        <td>divider</td>
        <td>Set to true to add a divider under the item</td>
        <td><em>boolean</em></td>
        <td>false</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="styleguide__section">

  <h1 class="styleguide__title">Dropdown Item Actions</h1>

  <table class="styleguide__table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Description</th>
        <th>Parameters</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>action</td>
        <td>The action called on item click. The action is passed a refrence to smd-dropdown-item.</td>
        <td><em>item</em></td>
      </tr>
    </tbody>
  </table>

</div>
