<header class="styleguide__header">
  <h1 class="styleguide__title">Forms</h1>
  <p class="styleguide__text">Beautiful Material Design form components</p>
</header>


<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="text" label="Text Field"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="text" label="Text Field"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="textarea" label="Textarea Field" type="textarea"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="textarea" label="Textarea Field" type="textarea"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="password" label="Password Field" type="password"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="password" label="Password Field" type="password"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="email" label="Email Field" type="email"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="email" label="Email Field" type="email"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="tel" label="Telephone Field" type="tel"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="tel" label="Telephone Field" type="tel"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="url" label="URL Field" type="url"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="url" label="URL Field" type="url"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="url" label="URL Field" type="url"}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="url" label="URL Field" type="url"}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="number" label="Numeric Field" type='number' min=1 max=5 step=1}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="number" label="Numeric Field" type='number' min=1 max=5 step=1}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="date" label="Date Field" type='date'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="date" label="Date Field" type='date'}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="time" label="Time Field" type='time'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="time" label="Time Field" type='time'}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="datetime" label="Date Time Field" type='datetime'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="datetime" label="Date Time Field" type='datetime'}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="color" label="Color Field" type='color'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="color" label="Color Field" type='color'}}
</div>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-form-control name="range" label="Range Field" type='range' min=0 max=100}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-form-control name="range" label="Range Field" type='range' min=0 max=100}}
</div>

<header class="styleguide__header">

  <h2 class="styleguide__title">TODO</h2>

  <ul>
    <li>Select boxes</li>
    <li>checkbox</li>
    <li>radio group</li>
    <li>checkbox group</li>
  </ul>

</header>
