<header class="styleguide__header">
  <h1 class="styleguide__title">Header</h1>
  <p class="styleguide__text">Variations of a material header</p>
</header>

<div class="styleguide__preview">
  {{smd-header title="Standard header" actionOneIcon='search' actionOneIcon='search' actionTwoIcon='more_horizontal'}}
</div>

<div class="styleguide__preview">
  {{smd-header title="Minimized header" isMinimized=true actionOneIcon='search' actionOneIcon='search' actionTwoIcon='more_horizontal'}}
</div>

<div class="styleguide__preview">
  {{smd-header title="Header with fab" fabIcon='add' actionOneIcon='search' actionOneIcon='search' actionTwoIcon='more_horizontal'}}
</div>

<div class="styleguide__preview">
  {{smd-header title="Header with mini fab and image" fabIcon='add' isMiniFab=true actionOneIcon='search' actionTwoIcon='more_horizontal' coverImageSrc='url(https://unsplash.it/1200/400/?blur)'}}
</div>

<div class="styleguide__preview">
  {{smd-header title="Header right aligned fab and image class" fabIcon='add' isRightFab=true actionOneIcon='search' actionTwoIcon='more_horizontal' coverImageClass='custom-cover-image-class' }}
</div>

<div class="styleguide__preview">
  {{smd-header isMiniFab=true title="Header with mini fab right aligned" fabIcon='add' isRightFab=true actionOneIcon='search' actionTwoIcon='more_horizontal'}}
</div>
