<header class="styleguide__header">
  <h1 class="styleguide__title">Header</h1>
  <p class="styleguide__text">Variations of a material header</p>
</header>

<pre class="styleguide__code">
  <code class="js">&#123;{smd-header
    title="Standard header"
    toolbarIconOne='code'
    toolbarIconTwo='delete'
    toolbarIconTwo='more_horizontal'
    backIcon='arrow_back'
    action='defaultAction'
    item='foo'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-header
    title="Standard header"
    toolbarIconOne='code'
    toolbarIconTwo='delete'
    toolbarIconThree='more_horizontal'
    backIcon='arrow_back'
    action='defaultAction'
    item='foo'}}
</div>


<pre class="styleguide__code">
  <code class="js">&#123;{smd-header title="Minimized header" isMinimized=true searchAction='searched'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-header
    title="Minimized header"
    isMinimized=true
    searchAction='searched'
    item='bar'}}
</div>


<pre class="styleguide__code">
  <code class="js">&#123;{smd-header title="Header with fab & no back button" backIcon=false  fabIcon='add' toolbarIconOne='search' toolbarIconTwo='more_horizontal'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-header title="Header with fab & no back button" backIcon=false fabIcon='add' fabAction='fabAction' toolbarIconOne='search' toolbarIconTwo='more_horizontal'}}
</div>


<pre class="styleguide__code">
  <code class="js">&#123;{smd-header title="Header with mini fab and image" fabIcon='add' isMiniFab=true toolbarIconOne='search' toolbarIconTwo='more_horizontal' coverImageSrc='url(https://unsplash.it/1200/400/?blur)'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-header title="Header with mini fab and image" fabIcon='add' isMiniFab=true toolbarIconOne='search' toolbarIconTwo='more_horizontal' coverImageSrc='url(https://unsplash.it/1200/400/?blur)'}}
</div>


<pre class="styleguide__code">
  <code class="js">&#123;{smd-header title="Header right aligned fab and image class" fabIcon='add' isRightFab=true toolbarIconOne='search' toolbarIconTwo='more_horizontal' coverImageClass='custom-cover-image-class'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-header title="Header right aligned fab and image class" fabIcon='add' isRightFab=true toolbarIconOne='search' toolbarIconTwo='more_horizontal' coverImageClass='custom-cover-image-class'}}
</div>


<pre class="styleguide__code">
  <code class="js">&#123;{smd-header title="Standard header" toolbarIconOne='search' toolbarIconTwo='more_horizontal'}&#125;</code>
</pre>
<div class="styleguide__preview">
  {{smd-header isMiniFab=true title="Header with mini fab right aligned" fabIcon='add' isRightFab=true toolbarIconOne='search' toolbarIconTwo='more_horizontal'}}
</div>

<div class="styleguide__section">

  <h1 class="styleguide__title">Attributes</h1>

  <table class="styleguide__table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title</td>
        <td>Defines the header title text</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>backIcon</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the back button</td>
        <td><em>string</em></td>
        <td>'arrow_back'</td>
      </tr>
      <tr>
        <td>toolbarIconOne</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the first toolbar action button</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>toolbarIconTwo</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the second toolbar action button</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>fabIcon</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the fab button</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>coverImageSrc</td>
        <td>A background-image src path that will define the headers cover image. e.g. url(/images/header-hero.png)</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>coverImageClass</td>
        <td>A custom class name assigned to the .smd-header__cover-image element so an background image can be set in your css</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>isMiniFab</td>
        <td>If true the header will use a mini fab button.</td>
        <td><em>boolean</em></td>
        <td>false</td>
      </tr>
      <tr>
        <td>isRightFab</td>
        <td>If true the headers fab button will be positioned on the right.</td>
        <td><em>boolean</em></td>
        <td>false</td>
      </tr>
      <tr>
        <td>isMinimized</td>
        <td>If true the header will appear in a minimized (short) state.</td>
        <td><em>boolean</em></td>
        <td>false</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="styleguide__section">

  <h1 class="styleguide__title">Actions</h1>

  <table class="styleguide__table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Description</th>
        <th>Parameters</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>action</td>
        <td>The default action, called if no other actions are specified when any of the header buttons are clicked.</td>
        <td><em>actionName</em>, <em>item</em></td>
      </tr>
      <tr>
        <td>backAction</td>
        <td>Specific action called on back button click</td>
        <td><em>item</em></td>
      </tr>
      <tr>
        <td>fabAction</td>
        <td>Specific action called on fab button click</td>
        <td><em>item</em></td>
      </tr>
      <tr>
        <td>toolbarActionOne</td>
        <td>Specific action called on toolbar button one click</td>
        <td><em>item</em></td>
      </tr>
      <tr>
        <td>toolbarActionTwo</td>
        <td>Specific action called on toolbar button two click</td>
        <td><em>item</em></td>
      </tr>
      <tr>
        <td>toolbarActionThree</td>
        <td>Specific action called on toolbar button three click</td>
        <td><em>item</em></td>
      </tr>
      <tr>
        <td>searchAction</td>
        <td>Specific action for the search widget. If defined, the smd-search-widget will be used in the toolbar and the action called on key up of the serch box</td>
        <td><em>term</em></td>
      </tr>
    </tbody>
  </table>

</div>
