{{smd-header
  title="App Layout Components"
  backIcon='arrow_back'
  backAction="back"
  scrolling=true
  toolbarIconOne='code'
  toolbarActionOne='jumpToTop'
  toolbarIconTwo='bookmark'
  toolbarActionTwo='jumpToAttributes'
  toolbarIconThree='touch_app'
  toolbarActionThree='jumpToActions'
}}
<div class="smd-page">

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">App Component</h1>
  </header>

  <section class="smd-page__body">

    <p>The <b>smd-app</b> component wraps around your whole application & is normally placed in <i>/templates/application.hbs</i>. It adds the required mdl-layout classes to the html.</p>

    {{code-snippet name="smd-app.hbs"}}

    <h3 class="smd-page__subtitle mdl-typography--subhead-color-contrast">Attributes</h3>

    <table class="sg-table sg-table--attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>fixedDrawer</td>
          <td>Makes the drawer always visible and open in larger screens</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>fixedHeader</td>
          <td>Makes the header always visible, even in small screens</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>noDrawerButton</td>
          <td>Does not display a drawer button</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>noDesktopDrawerButton</td>
          <td>Does not display a drawer button in desktop mode</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
      </tbody>
    </table>
  </section>

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Navbar Component</h1>
  </header>

  <section class="smd-page__body">

    <p>The navbar component appears on every page. It usually contains the app name and main navigation menu. It can be customised to contain multiple rows</p>

    {{code-snippet name="smd-navbar.hbs"}}

    <h3 class="smd-page__subtitle mdl-typography--subhead-color-contrast">Example with multiple rows</h3>

    {{code-snippet name="smd-navbar-rows.hbs"}}

    <h3 class="smd-page__subtitle mdl-typography--subhead-color-contrast">Attributes</h3>

    <table class="sg-table sg-table--attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>title</td>
          <td>Title text that will be rendered in mdl-layout-title</td>
          <td><em>string</em></td>
          <td>App Name</td>
        </tr>
        <tr>
          <td>scroll</td>
          <td>Makes the header scroll with the content</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>waterfall</td>
          <td>Allows a "waterfall" effect with multiple header lines</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>hideTop</td>
          <td>Hides the top rather than the bottom rows on a waterfall heade, also triggers waterfall</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>transparent</td>
          <td>Makes header transparent (draws on top of layout background)</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>noShadow</td>
          <td>Uses a header without a shadow</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
        <tr>
          <td>multipleRows</td>
          <td>Allows rendering of custom mdl-layout__header-row elements in yield</td>
          <td><em>boolean</em></td>
          <td>false</td>
        </tr>
      </tbody>
    </table>
  </section>

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Drawer Component</h1>
  </header>

  <section class="smd-page__body">

    <p>The <b>smd-drawer</b> component creates an off screen drawer for hidden navigation.</p>

    {{code-snippet name="smd-drawer.hbs"}}

    <h3 class="smd-page__subtitle mdl-typography--subhead-color-contrast">Attributes</h3>

    <table class="sg-table sg-table--attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>title</td>
          <td>Title text that will be rendered in mdl-layout-title</td>
          <td><em>string</em></td>
          <td>App Name</td>
        </tr>
      </tbody>
    </table>

    </section>

    <header class="smd-page__header" id="top">
      <h1 class="smd-page__title">Content Component</h1>
    </header>

    <section class="smd-page__body">

    <p>The <b>smd-content</b> component holds the main application content. This component will grow to fill the height of the application window and allow content to be scrolled</p>

    {{code-snippet name="smd-content.hbs"}}

  </section>

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Navigation Component</h1>
  </header>

  <section class="smd-page__body">

    <p>The navigation component should be extended and used with a custom template file in your own applications.</p>

    {{code-snippet name="app-navigation.js"}}

    {{code-snippet name="app-navigation.hbs"}}

  </section>

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Boilerplate Application</h1>
  </header>

  <section class="smd-page__body">

    <p>Here is an example of a full application template ready to go</p>

    {{code-snippet name="boilerplate-app.hbs"}}
    
  </section>

  <footer class="smd-page__footer">
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  </footer>
</div>
